@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$fonts: 'Open Sans', sans-serif;
$main-color: #e1e8e4;
$second-color: #cbdbd9;
$chorus-color: #D5D8DC;
$verse-color: #FFFCF6;
$red-color: #FF0000;

body div {
    border-radius: 18px;
}

body .main .container h1, p {
    text-align: center;
    font-family: $fonts;
    margin: 18px auto; 
}
.title {
    background-color: $verse-color;
    border-bottom-left-radius: 10px;

}

.chorus {
    background-color: $red-color;
}

.verse {
    background-color: $verse-color;
}

.test {
	display: flex;
	flex-wrap: wrap;
}
